{
  "bracketSameLine": true,
  "printWidth": 80,
  "semi": true,
  "tabWidth": 2,
  "semicolons": true,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
