---
import CodeCustom from "../CodeCustom.astro";
import Heading from "../Heading.astro";
---

<section class="space-y-4">
 <Heading level="h2" size="3xl">Headings</Heading>
 <CodeCustom code={`<Heading level="h2" size="3xl">Headings</Heading>`} lang="astro" />
 <div class="space-y-8">
  <div>
   <Heading level="h1" size="4xl">Heading 1</Heading>
   <p class="text-sm text-muted-foreground">Font size: 4xl</p>
  </div>
  <div>
   <Heading level="h2" size="3xl">Heading 2</Heading>
   <p class="text-sm text-muted-foreground">Font size: 3xl</p>
  </div>
  <div>
   <Heading level="h3" size="2xl">Heading 3</Heading>
   <p class="text-sm text-muted-foreground">Font size: 2xl</p>
  </div>
  <div>
   <Heading level="h4" size="xl">Heading 4</Heading>
   <p class="text-sm text-muted-foreground">Font size: xl</p>
  </div>
  <div>
   <Heading level="h5" size="lg">Heading 5</Heading>
   <p class="text-sm text-muted-foreground">Font size: lg</p>
  </div>
  <div>
   <Heading level="h6" size="base">Heading 6</Heading>
   <p class="text-sm text-muted-foreground">Font size: base</p>
  </div>
 </div>
 <div>
  <CodeCustom
   code={`---
import clsx from "clsx";

interface Props {
align?: "left" | "center" | "right";
class?: string;
level: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
size?: "sm" | "base" | "lg" | "xl" | "2xl" | "3xl" | "4xl";
}

const { 
align = "left",
class: clases,
level,
size = "base"
} = Astro.props;

const HeadingTag = level;
const headingClasses = clsx(
"font-bold",
"text-foreground", 
"text-balance",
{
    "text-4xl": size === "4xl",
    "text-3xl": size === "3xl",
    "text-2xl": size === "2xl",
    "text-xl": size === "xl",
    "text-lg": size === "lg",
    "text-base": size === "base",
    "text-sm": size === "sm",
},
{
    "text-left": align === "left",
    "text-center": align === "center",
    "text-right": align === "right",
},
{
    "tracking-tighter": size === "4xl" || size === "3xl" || size === "2xl",
    "tracking-tight": size === "xl" || size === "lg",
}
);
---

<HeadingTag class={clsx(headingClasses, clases)}>
  <slot />
</HeadingTag>
`}
   lang="astro"
  />
 </div>
</section>
