---
import BaseLayout from "../layouts/BaseLayout.astro";
import ButtonsSection from "../components/sections/ButtonsSection.astro";
import HeadingsSection from "../components/sections/HeadingsSection.astro";
import HGroup from "../components/HGroup.astro";
import CounterSection from "../components/sections/CounterSection.astro";

const title = "Why Not Astro? 🚀";
const pageTitle = `${title}`;
const description =
 "Astro is a static site builder that is fast, flexible, and easy to use. Best of all, you can use it with your favorite frameworks.";
---

<BaseLayout title={title}>
 <HGroup pageTitle={pageTitle} pageDescription={description} />
 <main class="space-y-12">
  <HeadingsSection />
  <ButtonsSection />
  <CounterSection />
 </main>
</BaseLayout>
