---
import BaseLayout from '../layouts/BaseLayout.astro';
import Buttons from '../components/sections/Buttons.astro';
import Headings from '../components/sections/Headings.astro';
import HGroup from '../components/HGroup.astro';

const title = 'Why Not Astro? 🚀';
const pageTitle = `${title}`;
const description = 'Astro is a static site builder that is fast, flexible, and easy to use. Best of all, you can use it with your favorite frameworks.';
---
<BaseLayout title={title}>
	<HGroup pageTitle={pageTitle} pageDescription={description} />
	<main class="space-y-12">
		<Headings />
		<Buttons />
	</main>
</BaseLayout>
	