---
import Favicon from '/public/favicon.svg';
const { title = 'Why Not Astro?', ...props } = Astro.props;
---
<link rel="sitemap" href="/sitemap-index.xml">
<title>{title}</title>
<meta name="description" content="Astro is a modern static site builder that empowers developers to create fast, flexible, and user-friendly websites. Explore innovative features, tutorials, and resources to kickstart your web development journey with Astro.">

<!-- Web analytics -->
<script data-goatcounter="https://my-account.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<!-- Open Graph tags -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://whynotastro.vercel.app/" />
<meta property="og:description" content="Astro is a modern static site builder that empowers developers to create fast, flexible, and user-friendly websites. Explore innovative features, tutorials, and resources to kickstart your web development journey with Astro." />
<meta property="og:image" content="/public/og-image.png">
<meta property="og:image:alt" content={title} />

<link rel="icon" type="image/svg+xml" href={Favicon.src} />
