---
import Link from './Link.astro';
---

<nav class="flex justify-between items-center pb-8">
	<Link href="/" class="text-xl md:text-2xl text-foreground no-underline font-serif font-bold tracking-tight">Why Not Astro?</Link>
	<ul class="flex gap-x-2">
		<li><Link href="/">Home</Link></li>
        <li><Link href="/blog">Blog</Link></li>
		<li><Link href="/contact">Contact</Link></li>
	</ul>
</nav>
